.container{
  height: 100vh;
  background-color: cadetblue;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: auto;
  padding: 40px;
  background-color: whitesmoke;
  border: none;
  border-radius: 1%;
}
.button, .social-button{
  padding: 8px 15px;
  border-radius: 5%;
  border: 1px solid grey;
  font-size: medium;
  background-color: cadetblue;
  color: #fff;
}
.social-button{
  margin-right: 5px;
}
#tumblr{
  padding: 8px 18px;
}
#main-button{
  margin-left: auto;
}
button:focus{
  outline-style: none;
}

.quote{
  font-size: xx-large;
  color: cadetblue;
}

.move{
  display: flex;
}

.author{
  font-size: large;
  font-family: 'Lucida Grande';
  color: cadetblue;
  text-align: end; 
}
